<form action="/products" method="post" style="margin: 1rem;">
    <label for="name">Producto</label>
    <input type="text" name="name" required>
    <label for="price">Precio</label>
    <input type="number" name="price" required>
    <label for="image">Imagen</label>
    <input type="text" name="image" required>
    <a href="http://localhost:8080/products" style="margin: 1rem;"><button class="btn btn-success mt-3 mb-5">Guardar producto</button></a>
</form>